<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346079764494-5psc6i2aiqc00l4jkakhgkqevfvve4pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346079764494-5psc6i2aiqc00l4jkakhgkqevfvve4pr</string>
	<key>API_KEY</key>
	<string>AIzaSyAbCu5Bbw9-gMX3Eg9N0OGVJVHVMFoYL6M</string>
	<key>GCM_SENDER_ID</key>
	<string>346079764494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-598f3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-598f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346079764494:ios:793d29b2650cc8fa09dc5f</string>
</dict>
</plist>